@(message: String)

@main("Welcome to Play") {
<style>
tr,td {
  border: 1px solid black;
}
</style>
	<h1>annin-tofu 杏仁豆腐</h1>
	
	<table>
		<tr>
			<td>&lt;img src="annin-tofu/sample.jpg"&gt;</td>
			<td>&lt;img src="annin-tofu/sample_100_100.jpg"&gt;</td>
			<td>&lt;img src="annin-tofu/sample_160_160.jpg"&gt;</td>
			<td>&lt;img src="annin-tofu/sample_200_200.jpg"&gt;</td>
		</tr>
		
		<tr>
			<td><img src="annin-tofu/sample.jpg"></td>
			<td><img src="annin-tofu/sample_100_100.jpg"></td>
			<td><img src="annin-tofu/sample_160_160.jpg"></td>
			<td><img src="annin-tofu/sample_200_200.jpg"></td>
		</tr>
	</table>

}
